.h-wrapper{
    color: white;
}

.h-container{
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: var(--secondary);
}

.h-menu{
    gap: 2rem;
}

.h-menu>*.hover{
    cursor: pointer;
}

.h-menu > button{
    justify-content: center;
    align-items: center;
    margin-top: 0dvh;
}

.h-container > img{
    margin-right: 5dvh;
}
